.container-main {
    width: 100vw;
    height: 100vh;

    display: flex;
    
    background-image: url('../../assets/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    height: 100vh;
    width: 55%;

    margin-left: 105px;

    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;

    margin-top: 46px;
    margin-bottom: 246px;
}

.logo img {
    width: 169px;
    height: 45px;
    margin-right: 5px;  
}

.slogan {
    width: 614px;
    height: 124px;

    position: relative;

    margin-bottom: 42px;
}

.main p {
    width: 560px;
    height: 99px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

    margin-bottom: 43px;
}

.btn-register {
    width: 284px;
    height: 52px;
}

.main button {
    width: 284px;
    height: 52px;

    background: #7978D9;
    border-radius: 5px; 
    color: white;

    cursor: pointer;

}

.container-login {
    height: 100vh;
    width: 45%;

    display: flex;
    align-items: center;
}