.form-register {
    width: 513px;
    height: 781px;

    background-color: white;

    display: flex;
    flex-direction: column;
}

.form-register h1{
    margin: 61px auto 42px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;

    color: #7978D9;

}

.form-register span {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #484848;

    margin-left: 32px;
    margin-bottom: 8px;
}

.form-register input {
    width: 449px;
    height: 63px;

    margin-left: 32px;
    margin-bottom: 31px;
    font-size: 20px;

    background: #FFFFFF;
    border: 1px solid #555555;
    border-radius: 5px;
}

.form-register button{
    all: unset;

    margin: 0px auto;

    padding: 20px 194px;

    color: white;
    background: #7978D9;
    border-radius: 5px;

    cursor: pointer;
}

.form-register p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
   
    display: flex;
    align-items: center;
    text-align: center;

    color: #7B61FF;

    margin: 8px auto;
}